{% extends "original.html"%}


{% block content %}

<br>
<br>
<div class="container">
    <table class="table">
    <thead>
      <tr>
        <th>Exchange</th>
        <th>Price</th>
        <th>Previous close</th>
        <th> % Change </th>
      </tr>
    </thead>
    <tbody>        
      <tr class="success">
        <td>NASDAQ</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>0</td>
      </tr>
      <tr class="danger">
        <td>DOW JONES</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>0</td>
        </tr>
      </tr>
      <tr class="warning">
        <td>NYSE</td>
        <td>Refs</td>
        <td>bo@example.com</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock %}